body {
  background-image: url(../img/torah.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #10130c;
}

#content-column {
  padding-top: 8%;
}

#hebrew-header {
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 5em;
  color: #0038b8;
}

#circles {
  display: none;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: blue;
  color: papayawhip;
  font-size: 4em;
  text-align: center;
  font-weight: bolder;
  padding-top: 10px;
}

#player-scores {
  height: 100px;
}

#player2-score, #player2-score + span {
  float: right;
}

#player1-score, #player1-score + span {
  float: left;
}

span {
  margin-top: 7%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 2em;
}

#forms {
  margin-left: 24%;
  margin-top: 20%;
}

#name2-form {
  display: none;
}

#circles {
  width: 100%;
}

#current-score, #dice-roll {
  display: inline-block;
}

#current-score {
  margin-left: 15%;
}

#dice-roll {
  height: 150px;
  width: 150px;
}

.btn {
  background-color: #0038b8;
  color: #ecc792;
}

#roll-button {
  margin-right: 4%;
}

.btn:hover {
  box-shadow: 2px 2px black;
  color: #ecc792;
}
